/* Color Variables */
$white:#FFFFFF;
$black:#000;

/* Media Query Veriables */
$mediaQuery-xsm: 320px;
$mediaQuery-sm: 576px;
$mediaQuery-md: 768px;
$mediaQuery-lg: 992px;
$mediaQuery-xl: 1200px;
$mediaQuery-ip:1024px;

/* Common Variables */
$full:100%;
$margin-default:20px;